/*  your css code here. If applicable */
#container{
	margin:20px;
}
#container::before {
    content: "Before Element ";
	color:red;/* Add content before the element */
	font-size:20px;
	
}

#container::after {
    content: " After Element"; 
	color:red;/* Add content after the element */
	font-size:20px;
}

